.imagenQr {
  width: 36vw;
  height: 36vw;
  border: 1px solid black;
  background-color: hsl(53, 64%, 65%);
}

.imagenQr img {
  width: 32vw;
  height: auto;
  margin: 16px;
}

#boton2 {
  margin-bottom: 64px;
}

#botonGenerarMuro,
#boton2 button {
  width: 100%;
  margin: 4vh 8vw;
  padding: 0px 10% 16px;
}

#botonVolver {
  margin: 32px 8vw;
}
